threads.shutDownAll()
app.launchApp("迪士尼度假区")
while (!click("门票"));
threads.start(function(){
    while(!textContains("一日票/二日票").exists());
    textContains("一日票/二日票").findOne().click()
    threads.currentThread().interrupt()
})
threads.start(function(){
    while(!text("变更说明").exists());
    while(!click("立即购买"));
})
threads.start(function(){
    while(!text("选择到访日期").exists());
    var bounds = text("选择到访日期").findOne().bounds()
    var top = bounds.top
    sleep(500)
    text({{date}}).findOne().click()
    sleep(500)
    var bounds = text("选择到访日期").findOne().bounds()
    var top_changed = bounds.top
    if(top != top_changed){
        log("日期选择成功");
    }else{
        log("日期选择失败");
        back();
    }
})
threads.start(function(){
    total = {{count}}
    index = 1
    while(!indexInParent("7").depth("10").findOne().clickable());
    indexInParent("7").depth("10").findOne().click()
    while(index < total){
        sleep(900)
        indexInParent("8").depth("10").findOne().click()
        index += 1
    }
    sleep(900)
    while(!click("立即购买"));
})

threads.start(function(){
    toast("开始");
    while(!text("证件说明").exists());
    text("身份证号码").findOne().click();
    sleep(900)
    input(0, "1");
    sleep(500)
    while(!click("Clear"));
    sleep(1000)
    input(0, "{{card}}");
    sleep(900)
    textContains("手机号").findOne().click();
    sleep(900)
    input(2, "1");
    sleep(500)
    while(!text("Clear").findOnce(1));
    text("Clear").findOnce(1).click();
    sleep(1000)
    input(2, "{{phone}}");
    sleep(500)
    var terms = textContains("我已阅读").findOne().bounds()
    click(terms.left-20, terms.top)
    sleep(500)
    while(!click("立即支付"));
    threads.currentThread().interrupt()
})

threads.start(function(){
    while(!text("支付宝").findOne());
    click("支付宝")
    sleep(500)
    click("确认并支付")
    sleep(500)
    threads.currentThread().interrupt()
})

threads.start(function(){
    while(!text("支付宝付款").findOne());
    input(0, "{{zhifubao}}")
    sleep(500)
    click("下一步")
    threads.currentThread().interrupt()
})